.settings
.idea
*.pyc
.DS_Store
/*.tgz
/*.png
/*.tgz
node_modules
deviceLog.txt
pylint*
QA*
Report*
setup*
TestApp*
TNS_App*
template-hello*
sut/
nosetests.xml
Payload
/workspace/*
verified_plugins/data/*.csv
nativescript-*
/*.csv
