.DS_Store
.idea
*.pyc
/*.csv
/*.png
/*.tgz
node_modules
deviceLog.txt
pylint*
QA*
Report*
TestApp*
TNS_App*
template-hello*
sut/
nosetests.xml
Payload
/workspace/*
verified_plugins/data/*.csv
package-lock.json
template-master-detail
template-master-detail-ts
template-master-detail-ng
nativescript-test-plugin
*.apk
*.txt
