.DS_Store
.idea
app.js
*.pyc
/*.csv
/*.png
/*.tgz
node_modules
deviceLog.txt
pylint*
QA*
Report*
TestApp*
TNS_App*
template-hello*
sut/
nosetests.xml
Payload
/workspace/*
verified_plugins/data/*.csv
nativescript-*

package-lock.json
